Q1.Explain with an example each when to use a for loop and a while loop .


Ans .In Python, the for loop is used to run a block of code for a certain number of times. It is used to iterate over any sequences such as list, tuple, string, etc.

In [1]:
# example 
for i in range(0,5):
    print(i)

0
1
2
3
4

In python , while loop is used to run a block code until the certain condition is met.

In [2]:
# example 
i=1
n=5
while i<=5:
    print(i)
    i=i+1

1
2
3
4
5

In [ ]:
#Q2. Write a python program to print the sum and product of the first 10 natural numbers using for  and while loop.

In [2]:
sum=0
product=1
for i in range (1,11):
    print (i , end= ' ') 
    sum=sum+i
    product=product*i
print()
print("The sum of the first 10 natural numbers are", sum)
print("The product of first 10 natural numbers are ", product)

1 2 3 4 5 6 7 8 9 10
The sum of the first 10 natural numbers are 55
The product of first 10 natural numbers are  3628800

In [ ]:
sum=0
product=1
i=1
while i<=10:
    sum=sum+i
    product=product*i
    i=i+1
    print("sum of first 10 natural numbers are",sum)
    print("product of first 10 natural numbers are",product)

In [ ]:
# Q3. Create a python program to compute the electricity bill for a household. 
#The per-unit charges in rupees are as follows: For the first 100 units, the user will be charged Rs. 4.5 per  unit, for the next 100 units, the user will be charged Rs. 6 per unit, and for the next 100 units, the user will  be charged Rs. 10 per unit, After 300 units and above the user will be charged Rs. 20 per unit.

In [7]:
unit=int(input("Enter the number of units consumed in last month"))
price=1
if unit <=100:
    price =(4.5* unit)
elif unit>100 and unit<=200:
    price = (4.5*100+6*100)
elif unit>200 and unit<=300:
    price=(4.5*100+6*100+10*100)
else:
    price=(4.5*100+6*100+10*100+20*(unit-300))
print("The total electricity bill is ",price)

Enter the number of units consumed in last month 310

The total electricity bill is  2250.0

In [ ]:
# Q4. Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each  number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print  that list.

In [2]:
l=[]
a=list(range(1,101))
for i in a:
    cube=i**3
    if cube%4==0 or cube%5==0:
        l.append(i)
print(l)

[2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]

In [ ]:
l1=[]
i=1
cube=0
while i<101:
    cube=i**3
    if cube%4==0 or cube%5==0:
        l1.append(i)
        i=i+1
print(l1)

In [ ]:
# Q5. Write a program to filter count vowels in the below-given string. 
# string = "I want to become a data scientist"

In [12]:
str="I want to become a data scientist"
count=0
for x in str:
       if x.lower() in ['a','e','i','o','u','A','E','I','O','U']:
        count=count+1
print("no of vowels",count)

no of vowels 12